<div class="og-badge-title-container">
	<Badge Name="@BadgeString" Color="@Color" UseFullString="true" />
	<div class="og-card-title" style="@_titleStyle">@Title</div>
</div>

@code {
	#region Parameters
	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public string BadgeString { get; set; }

	[Parameter]
	public dynamic Color { get; set; }
	#endregion

	#region Properties
	private string _titleStyle;
	private Colors _colors;

	#endregion

	#region Parameters
	protected override void OnParametersSet()
	{
		SetColorIfNull();
		if (Color != null)
		{
			_titleStyle = "color: " + Color.ForegroundHexCode + ";";
		}

		if (string.IsNullOrEmpty(BadgeString))
		{
			BadgeString = Title;
		}
	}
	private void SetColorIfNull()
	{
		if (Color == null)
		{
			_colors = new Colors();
			Color = _colors.GetRandomThemeColor();
		}
	}
	#endregion
}