<button type="button" @onclick="OnClick" title="Copy to clipboard" class="@($"{_buttonClass} d-flex align-items-center justify-content-center background-color-animate")" style="border-radius:50%; width: 2rem; height: 2rem;" disabled=@(string.IsNullOrEmpty(Text)) @attributes="AdditionalAttributes">
    <i class="fas fa-copy"></i>
</button>
