@if (Style == LoadingStyle.FullPage || Style == LoadingStyle.Default)
{
	<div class="@_containerCssClass">
		<div class="og-badge-with-border-all-sizes">
			<Icon I="BlazingAppleServices.IconType.LoadingFullPage" AdditionalClasses="@_loadingIcon" AltText="Loading" />
		</div>
	</div>
}
else
{
	<p><em><Icon I="BlazingAppleServices.IconType.Loading" AltText="Loading" /> Loading</em></p>
} 