@if (!_showBadge)
{
	<img src="@ImageUrl" alt="@AltText" class="img-fluid" @attributes="AdditionalAttributes" @onerror="OnImageLoadFail" />
}
else
{
	<Badge Name="@AltText" @attributes="AdditionalAttributes" LargeDisplay="@LargeDisplay"></Badge>
}

@if (ChildContent != null)
{
	<div class="og-photo-badge">
		@ChildContent
	</div>
}
