@if (!ShowBadge)
{
	<img src="@ImageUrl" alt="@AltText" class="img-fluid" @attributes="AdditionalAttributes" @onerror="OnImageLoadFail" />
}
else
{
	<Badge Name="@AltText" @attributes="AdditionalAttributes"></Badge>
}
@if (ChildContent != null)
{
	<div class="og-photo-badge">
		@ChildContent
	</div>
}

@code {
	#region Parameters
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public string ImageUrl { get; set; }

	/// <summary>
	/// The backup image to display if the image fails to load.
	/// </summary>
	[Parameter]
	public string ImageBackupUrl { get; set; }

	/// <summary>
	/// Name to show next to the picture
	/// </summary>
	[Parameter]
	public string AltText { get; set; }
	#endregion

	#region Properties
	private bool ImageFailedToLoad { get; set; }
	private bool ShowBadge;

	[Parameter(CaptureUnmatchedValues = true)]
	public IDictionary<string, object> AdditionalAttributes { get; set; }
	#endregion

	protected override void OnParametersSet()
	{
		if (string.IsNullOrEmpty(ImageUrl) && !string.IsNullOrEmpty(AltText))
		{
			ShowBadge = true;
		}
	}

	#region Methods
	/// <summary>
	/// Update the image source for an image if we fail to load it.
	/// </summary>
	private void OnImageLoadFail()
	{
		if (!string.IsNullOrEmpty(ImageBackupUrl))
		{
			ImageUrl = ImageBackupUrl;
		}
		else
		{
			ImageUrl = "/images/MissingImage.png";
		}
	}
	#endregion
}
