
<button type="button" style="vertical-align:top;" class="btn btn-link p-0" @onclick="OnSeeMoreClick">@toggleMoreLessDisplayString</button>


@code {
	[Parameter]
	public bool Value { get; set; }

	[Parameter]
	public EventCallback<bool> ValueChanged { get; set; }

	private string toggleMoreLessDisplayString => Value ? "See less" : "See more";

	public bool BoundValue
	{
		get => Value;
		set
		{
			ValueChanged.InvokeAsync(value);
		}
	}

	/// <summary>
	/// Change the text for the see more link button
	/// </summary>
	private void OnSeeMoreClick()
	{
		/* Going from already seeing all, to seeing less */
		BoundValue = !BoundValue;
	}
}
