
@if (_wordCount > MaxWords)
{
	@if (!_showMoreSelected)
	{
		<div @attributes="AdditionalAttributes" title="@Content">
			@_limitedContent
			<SeeMoreToggle @bind-Value="_showMoreSelected"></SeeMoreToggle>
		</div>
	}
	else
	{
		<div @attributes="AdditionalAttributes">
			@Content
			<SeeMoreToggle @bind-Value="_showMoreSelected"></SeeMoreToggle>
		</div>
	}
}
else
{
	<div @attributes="AdditionalAttributes">
		@Content
	</div>
}
