<div class="@string.Concat("form-group ", ColumnWidthClass)">
	@if(!string.IsNullOrEmpty(Label)) {
		<label @attributes="AdditionalAttributes">@Label</label>
	}
	
	<div>
		@ChildContent
	</div>
</div>
