@using System.Globalization
@typeparam TValue
@inherits InputBase<TValue>

<label class=@string.Concat("btn ",@LabelCssClasses,ActiveClass()) @attributes="AdditionalAttributes">

	<input type="radio" value="@SelectedValue"
		   checked="@(SelectedValue is not null ? SelectedValue.Equals(Value) : false)"
		   @onchange="OnChangeInternal"
		   disabled="@Disabled" />

	@if (ChildContent != null)
	{
		@ChildContent
	}
	else
	{
		@DisplayString
	}
</label>