@typeparam TItem
@typeparam TValue
<div @attributes="AdditionalAttributes">
	@if (Data != null)
	{
		foreach (var item in Data)
		{
			var Text = TextField?.Invoke(item);
			TValue Value = ValueField.Invoke(item);

			if(Value is not null) {
				var ValueId = Value.ToString()!;
				bool Checked = false;
				if (SelectedValues.Contains(Value))
				{
					Checked = true;
				}
				<div class="form-group" style="margin-bottom:0;">
					<div class="form-check" style="line-height: initial;">
						<input id="@($"{Name}-{ValueId}")" disabled="@Disabled" type="checkbox" class="form-check-input" checked=@Checked @onchange="eventArgs => { CheckboxClicked(ValueId, eventArgs.Value); }" />
						<label for="@($"{Name}-{ValueId}")" class="form-check-label">@Text</label>
					</div>
				</div>
			}
		}
	}
	@ChildContent
</div>