.pill-radio-group-container {
  display: flex;
}
.pill-radio-group-container.small {
  font-size: 0.75rem;
}
.pill-radio-group-container.small .pill-radio-group > .segment > label {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pill-radio-group-container.small .pill-radio-group::before {
  top: 2px;
  bottom: 2px;
}

.pill-radio-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 999px;
  overflow: hidden;
  position: relative;
}
.pill-radio-group > .segment {
  text-align: center;
  z-index: 1;
}
.pill-radio-group > .segment > label {
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 10px;
  transition: color 0.5s ease;
  line-height: 1;
}
.pill-radio-group > .segment.active label {
  color: #fff;
}

.pill-radio-group::before {
  content: "";
  background-color: var(--bs-primary) !important;
  border-radius: 999px;
  width: calc(1 / var(--segment-count) * 100% - 10px);
  transition: transform 0.3s ease, width 0.3s ease;
  transform: translateX(calc((var(--selected-segment-index) - 1) * (100% + 10px)));
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 5px;
  z-index: 0;
}
