@if (TotalCount > 0)
{
	<div class="og-progress-container">
		<progress value="@CurrentIndex" max="@TotalCount" title="@_progressTooltip" class="og-progress-bar my-auto mr-2">
		</progress>
		<span class="og-progress-text">@_percentComplete</span>
	</div>
	<span class="text-muted"></span>
}

@code {
	[Parameter]
	public int CurrentIndex { get; set; }
	[Parameter]
	public int TotalCount { get; set; }

	[Parameter]
	public string Units { get; set; }

	[Parameter]
	public DateTimeOffset AsOfTime { get; set; }

	private string _progressTooltip, _remainingTime, _asOfTime, _percentComplete;
	protected override void OnParametersSet()
	{
		if (TotalCount <= 0)
		{
			return;
		}
		_asOfTime = "As of " + s.CommonViewUtils.GetDateTimeString(AsOfTime);
		_percentComplete = s.CommonViewUtils.GetPercentString((((float)CurrentIndex) / TotalCount));
		_progressTooltip = CurrentIndex + " of " + TotalCount + " " + Units;

	}
}
