@if (TotalCount > 0)
{
	<div class="ba-progress-container" @attributes="AdditionalAttributes">
		<progress style="width: 100%;" value="@CurrentIndex" max="@TotalCount" title="@_progressTooltip" class="ba-progress-bar my-auto me-2">
		</progress>

		@if(ShowPercentComplete) {
			<span class="ba-progress-text">@_percentComplete</span>
		}
	</div>
}
