@if (TotalCount > 0)
{
	<div class="ba-progress-container">
		<progress value="@CurrentIndex" max="@TotalCount" title="@_progressTooltip" class="ba-progress-bar my-auto mr-2">
		</progress>
		<span class="ba-progress-text">@_percentComplete</span>
	</div>
	<span class="text-muted"></span>
}
