@if (!Parent.Prerender)
{
	@if (Parent.ActivePage == this)
	{
		@ChildContent
	}
}
else
{
	<div class="@ClassIfIsHidden()">
		@ChildContent
	</div>
}

@code {
	[CascadingParameter]
	private TabStrip Parent { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public string Title { get; set; }

	protected override void OnInitialized()
	{
		if (Parent == null)
		{
			throw new ArgumentNullException(nameof(Parent), "TabPage must exist within a TabControl");
		}
		base.OnInitialized();
		Parent.AddPage(this);
	}

	private string ClassIfIsHidden()
	{
		if (Parent.ActivePage == this)
		{
			return string.Empty;
		}
		return "hidden";
	}
}
