<CascadingValue Value="this">
	<div class="btn-group tabstrip" role="group">
		@foreach (TabPage tabPage in Pages)
		{
			@if (Pages.Count > 1)@* Don't show the header if there is only one page. *@
			{
				<button type="button"
						class="btn tab btn-light @GetButtonClass(tabPage)"
						@onclick=@( () => ActivatePage(tabPage) )>
					@tabPage.Title
				</button>
			}
		}
	</div>
	@ChildContent
</CascadingValue>

