<a href="@detailsRoute">@ChildContent</a>

@code {
	#region Parameters
	/// <summary>
	/// The name or any content we want in the link
	/// </summary>
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public string route { get; set; }
	[Parameter]
	public dynamic record { get; set; }

	[Parameter]
	public string slug { get; set; }
	#endregion

	string detailsRoute { get; set; }


	#region Methods
	protected override void OnParametersSet()
	{
		string idForRoute;
		if (record != null)
		{
			idForRoute = record.Id.ToString();
		}
		else
		{
			idForRoute = slug;
		}
		detailsRoute = route + "/" + idForRoute;
	}
	#endregion
}
