/* _content/BlazingApple.Components/HTMLElements/PillRadioGroup.razor.rz.scp.css */
.pill-radio-group-container[b-iem2zekg1a] {
  display: flex;
}
.pill-radio-group-container.small[b-iem2zekg1a] {
  font-size: 0.75rem;
}
.pill-radio-group-container.small .pill-radio-group > .segment > label[b-iem2zekg1a] {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pill-radio-group-container.small .pill-radio-group[b-iem2zekg1a]::before {
  top: 2px;
  bottom: 2px;
}

.pill-radio-group[b-iem2zekg1a] {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 999px;
  overflow: hidden;
  position: relative;
}
.pill-radio-group > .segment[b-iem2zekg1a] {
  text-align: center;
  z-index: 1;
}
.pill-radio-group > .segment > label[b-iem2zekg1a] {
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 10px;
  transition: color 0.5s ease;
  line-height: 1;
}
.pill-radio-group > .segment.active label[b-iem2zekg1a] {
  color: #fff;
}

.pill-radio-group[b-iem2zekg1a]::before {
  content: "";
  background-color: var(--bs-primary) !important;
  border-radius: 999px;
  width: calc(1 / var(--segment-count) * 100% - 10px);
  transition: transform 0.3s ease, width 0.3s ease;
  transform: translateX(calc((var(--selected-segment-index) - 1) * (100% + 10px)));
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 5px;
  z-index: 0;
}
/* _content/BlazingApple.Components/IconChooser.razor.rz.scp.css */
/* Arrange buttons */
.btn-matrix[b-pdsm2ou22h] {
  flex-wrap: wrap;
}

.btn-matrix > .btn[b-pdsm2ou22h] {
  width: 20%;
  max-width: 10rem;
  margin: 0.5rem;
}
/* _content/BlazingApple.Components/ZeroState.razor.rz.scp.css */
@keyframes animate-middle-b-wrdbijrg8y {
  animation-name: example;
  animation-duration: 4s; }

.og-zero-state[b-wrdbijrg8y] {
  background-image: url("../../images/foreground-images/space-cosmos.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20rem; }
