@inherits BadgeBase

@if (IsLoaded)
{
    <div style="@_badgeStyle" title="@Tooltip" @attributes="AdditionalAttributes">
        @if(string.IsNullOrEmpty(IconClass)) {
            <span style="line-height: 2.5rem;">@BadgeString</span>
        }
        else {
            <i class="@IconClass"></i>
        }
    </div>
}