/*#region graph colors*/

/*
	Html Elements
*/
$og-label: #5f7c8a;
$og-label-dark: #bfcbd0;


/* #region Background Color Mode */
$og-light-mode: white;
$og-light-mode-inverse: #212529;
$og-light-mode-white: white;

$og-dark-mode: #596C76;
$og-dark-mode-inverse: white;
$og-dark-mode-white: #cdd3d6;

/* #endregion */
$og-primary: #0085f2; /* Will be overwritten by theme sheet. */
$og-dark-mode-bg: $og-dark-mode; /* Will be overwritten by theme sheet. */
$og-light-mode-bg: $og-light-mode; /* Will be overwritten by theme sheet. */

$og-azure: #0085f2;
$og-azure-bg: #e6f3fe;
$og-azure-bg-theme: #80c2f9; /* rgba(128, 194, 249) */
$og-azure-bg-light-theme: #f2f9fe; /* This is the bg-theme transposed at 10% opacity */
$og-azure-bg-dark-theme: #5d7583; /* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/

$og-blush: #FF6665;
$og-blush-bg: #fff0f0;
$og-blush-bg-theme: #ffb3b2;
$og-blush-bg-light-theme: #fff7f7; /* This is the bg-theme transposed at 10% opacity */
$og-blush-bg-dark-theme: #6a737c; /* This is the bg-theme transposed at 10% opacity */


$og-caribbean: #00bfd4;
$og-caribbean-bg: #e6f9fb;
$og-caribbean-bg-theme: #80dfea;
$og-caribbean-bg-light-theme: #f2fcfd; /* This is the bg-theme transposed at 10% opacity */


$og-dahlia: #b429cc;
$og-dahlia-bg: #f8eafa;
$og-dahlia-bg-theme: #da94e6;
$og-dahlia-bg-light-theme: #fbf4fd; /* This is the bg-theme transposed at 10% opacity */
$og-dahlia-bg-dark-theme: #667081; /* This is the bg-theme transposed at 10% opacity */


$og-fuchsia: #dd299d;
$og-fuchsia-bg: #fceaf5;
$og-fuchsia-bg-theme: #ee94ce;
$og-fuchsia-bg-light-theme: #fdf4fa; /* This is the bg-theme transposed at 10% opacity */
$og-fuchsia-bg-dark-theme: #68707f; /* This is the bg-theme transposed at 10% opacity */


$og-golden: #f4c100;
$og-golden-bg: #fef9e6;
$og-golden-bg-theme: #fae080;
$og-golden-bg-light-theme: #fffcf2; /* This is the bg-theme transposed at 10% opacity */
$og-golden-bg-dark-theme: #697877; /* This is the bg-theme transposed at 10% opacity */


$og-lime: #69c300;
$og-lime-bg: #f0f9e6;
$og-lime-bg-theme: #b4e180;
$og-lime-bg-light-theme: #f8fcf2; /* This is the bg-theme transposed at 10% opacity */
$og-lime-bg-dark-theme: #627877; /* This is the bg-theme transposed at 10% opacity */


$og-mediterranean: #19c295;
$og-mediterranean-bg: #e8f9f4;
$og-mediterranean-bg-theme: #8ce1ca;
$og-mediterranean-bg-light-theme: #f4fcfa; /* This is the bg-theme transposed at 10% opacity */
$og-mediterranean-bg-dark-theme: #5e787e; /* This is the bg-theme transposed at 10% opacity */


$og-rose: #d94e6f;
$og-rose-bg: #fbedf1;
$og-rose-bg-theme: #eca7b7;
$og-rose-bg-light-theme: #fdf6f8; /* This is the bg-theme transposed at 10% opacity */
$og-rose-bg-dark-theme: #68727d; /* This is the bg-theme transposed at 10% opacity */


$og-sky: #24a4ee;
$og-sky-bg: #e9f6fd;
$og-sky-bg-theme: #92d2f7;
$og-sky-bg-light-theme: #f4fbfe; /* This is the bg-theme transposed at 10% opacity */
$og-sky-bg-dark-theme: #5f7683; /* This is the bg-theme transposed at 10% opacity */


$og-tangerine: #ff9200;
$og-tangerine-bg: #fff4e6;
$og-tangerine-bg-theme: #ffc980;
$og-tangerine-bg-light-theme: #fffaf2; /* This is the bg-theme transposed at 10% opacity */
$og-tangerine-bg-dark-theme: #6a7577; /* This is the bg-theme transposed at 10% opacity */


$og-wisteria: #6a4ce0;
$og-wisteria-bg: #f0edfc;
$og-wisteria-bg-theme: #b5a6f0;
$og-wisteria-bg-light-theme: #f8f6fe; /* This is the bg-theme transposed at 10% opacity */
$og-wisteria-bg-dark-theme: #627282; /* This is the bg-theme transposed at 10% opacity */


/*#endregion*/

/* #region themes */
$og-altitude: #0091ea;
$og-altitude-bg: #eef7ff;
$og-altitude-bg-theme: #80c8f5;
$og-altitude-bg-light-theme: #f2fafe; /* This is the bg-theme transposed at 10% opacity */
$og-altitude-bg-dark-theme: #5d7583; /* This is the bg-theme transposed at 10% opacity */


/*#endregion*/