
<h3>Device Management</h3>
<div class="row">
	<div class="col-md-6">
		<button @onclick="DeviceSizeClicked">Get Size</button>
	</div>
	<div class="col-md-6">
		@(_deviceSize.ToString())
	</div>
</div>