
<h3>Device Management</h3>
<div class="row">
	<div class="col-md-6">
		<div class="d-flex">
			<div class="me-2">
				<button class="btn btn-primary" @onclick="DeviceSizeClicked">Get Size</button>
			</div>
			<div class="me-2">
				Size: @(_deviceSize.ToString())
			</div>
		</div>
	</div>
</div>