@inject NavigationManager NavManager
<h3>Links</h3>
<div class="row">
	<div class="col-md-6">
		<ul>
			<li>
				<RecordAction class="text-muted" DisplayEditAsIcon="true" Route="tags" Slug="abc" />
			</li>
			<li>
				<RecordAction DisplayEditAsIcon="true" Route="tags" ShowSpacer="true" Slug="abc" />
			</li>
			<li>
				<RecordAction Route="tags" ShowSpacer="true" Slug="abc" />
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul>
			<li>
				<BrowserLink href="https://google.com">Link to Google!</BrowserLink>
				<div class="text-muted small">Should open in a new tab</div>
			</li>
			<li>
				<BrowserLink href="lists">Link to List page</BrowserLink>
				<div class="text-muted small">Should open in this tab</div>
			</li>
			<li>
				<BrowserLink href="email-safe">Link to email-safe page</BrowserLink>
				<div class="text-muted small">Should open in this tab</div>
			</li>
		</ul>
	</div>
</div>