@using BlazingApple.Components.Reactions
<h3>Likes, Votes, & Reactions</h3>
@*<h4>Voting</h4>


<h4>Reactions</h4>
<ReactionOptions @bind-Value="SelectedReaction" />

<span>Selected reaction: @SelectedReaction</span>*@

<ReactionButton @bind-Value="SelectedReaction2" Reactions="_reactions"></ReactionButton>