@page "/"
@using BlazingApple.Components.Calendar
@using BlazingAppleConsumer.Components.Components
@using BlazingApple.Components.Lists
<PageTitle>Index</PageTitle>

<h1 class="d-flex" style="align-items:center;">
	<img src="_content/BlazingApple.Components/BlazingApple.png"
		 class="img-fluid"
		 style="margin-right: .5rem; max-height:2.5rem;" />
	Hello, world!
</h1>

Welcome to your BlazingApples's component library! Glad you're here.
<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<DueDateSection/>

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<TooltipSection/>

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<IconChooserSection/>

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<PaginatorSection />

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<CarouselSection />

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />

<CopyToClipboardSection/>

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<CalendarSection />

<LinkSection/>

<DeviceManagementSection/>

<ReactionSection/>