@page "/"
@using BlazingApple.Components.Calendar
@using BlazingAppleConsumer.Components.Components
@using BlazingApple.Components.Lists
<PageTitle>Index</PageTitle>

<h1 class="d-flex" style="align-items:center;">
	<img src="_content/BlazingApple.Components/BlazingApple.png"
		 class="img-fluid"
		 style="margin-right: .5rem; max-height:2.5rem;" />
	Hello, world!
</h1>

<div>
	Welcome to your BlazingApples's component library! Glad you're here.
</div>

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />

<div class="row">
	<div class="col-lg-6">
		<ReactionSection />
	</div>
	<div class="col-lg-6">
		<BadgeSection/>
	</div>
</div>


<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<DueDateSection/>


<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<CarouselSection />

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />


<div class="row">
	<div class="col-lg-6">
		<CopyToClipboardSection/>
	</div>
	<div class="col-lg-6">
		<DeviceManagementSection/>
	</div>
</div>

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<CalendarSection />

<LinkSection/>


<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<TooltipSection />

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />
<IconChooserSection />
