@page "/lists"
@using BlazingAppleConsumer.Components.Components

<div class="d-flex" style="align-items:center;">
    <img src="_content/BlazingApple.Components/BlazingApple.png" class="img-fluid" style="margin-right: .5rem; max-height:2.5rem;" />
    <h1 class="ms-2">BlazingApple Lists</h1>
</div>

@if (_items != null)
{
    <MinimalCard style="margin: 1rem;">
        <h3>Lists with Columns</h3>
        <EditForm Model="@(this)">
            <DataAnnotationsValidator />
            <div class="row">
                <FormGroup ColumnWidthClass="col-lg-3">
                    <label for="count">Number of items to show</label>
                    <InputNumber class="form-control" id="count" @bind-Value="ItemCount" />
                </FormGroup>

                <FormGroup ColumnWidthClass="col-lg-3">
                    <label for="columns">Columns (1-4)</label>
                    <ValidationMessage For="@(() => ColumnCount)" />
                    <InputNumber class="form-control" id="columns" @bind-Value="ColumnCount" />
                </FormGroup>
            </div>
        </EditForm>

        @if (_items is not null && _items.Count != 0)
        {
            <RecordList Context="item" ColumnsPerRow="ColumnCount" Items="_items.Take(ItemCount).ToList()">
                <HeadRow></HeadRow>
                <RowTemplate>
                    <Badge Name="@item.ToString()" />
                </RowTemplate>
            </RecordList>
        }
    </MinimalCard>
}

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />

<MinimalCard style="margin: 1rem;">
    <PaginatorSection />
</MinimalCard>

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />

<MinimalCard style="margin: 1rem;">
    <h3>Accordions</h3>
    <small class="text-muted">Bootstrap-styled</small>
    @if(_items is not null) 
    {
        <VerticalAccordion Items="@_items.Take(3).Select(i => ($"{i} Heading", $"{i} Content, Content, Content"))"></VerticalAccordion>
    }
</MinimalCard>