@page "/lists"
@using BlazingAppleConsumer.Components.Components

<h2>Lists</h2>

@if (_items != null)
{
    <EditForm Model="@(new {})">
        <label>Number of items to show</label>
        <InputNumber @bind-Value="_itemCount" />
    </EditForm>

    @if (_items is not null && _items.Count != 0)
    {
        <RecordList Context="item" ColumnsPerRow="3" Items="_items.Take(_itemCount).ToList()">
            <HeadRow></HeadRow>
            <RowTemplate>
                <Badge Name="@item.ToString()" />
            </RowTemplate>
        </RecordList>
    }
}

<hr class="border:none; border-top:1px solid; margin:1em 15%;" />

<PaginatorSection/>