@using BlazorStrap
@using BlazorStrap.V5
@inherits AlertBase

<BSAlert Color="BSColor.Warning" IsDismissible="IsDismissible">
	<h4 class="alert-heading">
		@if (HeadingContent is not null)
		{
			@HeadingContent
		}
		else if (!string.IsNullOrEmpty(HeadingText))
		{
			@HeadingText
		}
	</h4>

	@if (BodyContent is not null)
	{
		@BodyContent
	}
</BSAlert>		