@if(IsDraft) 
{
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<AlertWarning>
				<BodyContent>
						<strong>Note: </strong> This @UnitSingular is a draft. It may be missing crucial data.
				</BodyContent>
			</AlertWarning>
		</div>
		<div class="col-lg-1"></div>
	</div>
}