/*Plugin Overrides */
/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
/*#region Blazored Modal */
.og-modal-popover {
  background-color: var(--og-background-theme-mode) !important;
  border: none !important;
}

.blazored-modal-close {
  line-height: 1;
}

/* #endregion */
/* All */
.e-control, .e-css, .e-tooltip-wrap .e-tip-content {
  font-size: inherit !important;
  font-family: inherit !important;
}

.e-splitter.e-splitter-horizontal, .e-splitter.e-splitter-vertical {
  background-color: inherit !important;
}

/* Splitter */
.e-split-bar-horizontal {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: none !important;
  transition: background-color 0.25s ease-in-out;
  border-radius: 1rem;
}
.e-split-bar-horizontal:hover {
  background-color: var(--og-bg-color) !important;
}
.e-split-bar-horizontal:hover .e-resize-handler.e-icons {
  color: var(--og-theme-color) !important;
}
.e-split-bar-horizontal:active {
  background-color: var(--og-theme-color) !important;
}
.e-split-bar-horizontal:active .e-resize-handler.e-icons {
  color: white !important;
}

.e-resize-handler.e-icons {
  background: none !important;
  transition: color 0.25s ease-in-out;
}

.e-control, .e-css, .e-splitter.e-splitter-horizontal .e-pane, .e-splitter.e-splitter-vertical .e-pane {
  font-family: inherit !important;
}

/* ListView */
.e-list-item {
  cursor: pointer;
  /* Make it appear as a selection option */
}

.e-list-item-header {
  font-weight: 500;
}

.e-listview.e-list-template .e-list-item.e-active .e-list-content {
  color: rgba(255, 255, 255, 0.75) !important;
}

.e-list-item.e-level-1.e-active i {
  color: white !important;
  /* Override the style of the icon if the row is selected, it should contrast with the selected color. */
}

/* Tooltip */
.e-tooltip-wrap.e-popup {
  background: var(--og-background-theme-mode) !important;
  border: none !important;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important;
}

.e-tip-content {
  min-width: 20rem;
  padding: 1rem !important;
}

.e-tooltip-wrap .e-tip-content {
  color: black !important;
  font-family: inherit !important;
}

.e-tooltip-wrap .e-arrow-tip-outer.e-tip-right {
  border-left: 8px solid var(--og-background-theme-mode) !important;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important;
}
.e-tooltip-wrap .e-arrow-tip-outer.e-tip-left {
  border-right: 8px solid var(--og-background-theme-mode) !important;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important;
}
.e-tooltip-wrap .e-arrow-tip-outer.e-tip-top {
  border-bottom: 8px solid var(--og-background-theme-mode) !important;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important;
}
.e-tooltip-wrap .e-arrow-tip-outer.e-tip-bottom {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid var(--og-background-theme-mode) !important;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important;
}

.e-tooltip-wrap .e-arrow-tip-inner.e-tip-right, .e-tooltip-wrap .e-arrow-tip-inner.e-tip-left, .e-tooltip-wrap .e-arrow-tip-inner.e-tip-bottom, .e-tooltip-wrap .e-arrow-tip-inner.e-tip-top {
  color: var(--og-background-theme-mode) !important;
  box-shadow: 8px 11px 5px 4px rgba(32, 33, 36, 0.28) !important;
}

/* Owned Components */
/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
.card {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.og-card {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  border-left: 5px solid;
  padding-left: 0.5px;
  /* Doing this because there is an odd overlap with the header and the border. */
  margin-bottom: 0.5rem;
}
.og-card .og-header {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  flex-direction: row;
  flex-wrap: nowrap;
  display: inline-flex;
  align-items: center;
  padding: 0.1rem 1rem 0.1rem 0.5rem;
  flex: 1 1 0.33%;
  /* Grow width after 33% of card, otherwise, stay 33% */
}
.og-card .og-header h1, .og-card .og-header h2, .og-card .og-header h3, .og-card .og-header h4, .og-card .og-header h5 {
  margin-bottom: 0;
  margin-left: 0.5rem;
}
.og-card .card-content {
  padding: 0.75rem;
}
.og-card.og-altitude {
  border-left-color: #0091ea;
}
.og-card.og-altitude .og-header {
  color: #0091ea;
  background-color: #eef7ff;
}
.og-card.og-blush {
  border-left-color: #FF6665;
}
.og-card.og-blush .og-header {
  color: #FF6665;
  background-color: #fff0f0;
}
.og-card.og-caribbean {
  border-left-color: #00bfd4;
}
.og-card.og-caribbean .og-header {
  color: #00bfd4;
  background-color: #e6f9fb;
}
.og-card.og-dahlia {
  border-left-color: #b429cc;
}
.og-card.og-dahlia .og-header {
  color: #b429cc;
  background-color: #f8eafa;
}
.og-card.og-fuchsia {
  border-left-color: #dd299d;
}
.og-card.og-fuchsia .og-header {
  color: #dd299d;
  background-color: #fceaf5;
}
.og-card.og-golden {
  border-left-color: #f4c100;
}
.og-card.og-golden .og-header {
  color: #f4c100;
  background-color: #fef9e6;
}
.og-card.og-lime {
  border-left-color: #69c300;
}
.og-card.og-lime .og-header {
  color: #69c300;
  background-color: #f0f9e6;
}
.og-card.og-mediterranean {
  border-left-color: #19c295;
}
.og-card.og-mediterranean .og-header {
  color: #19c295;
  background-color: #e8f9f4;
}
.og-card.og-rose {
  border-left-color: #d94e6f;
}
.og-card.og-rose .og-header {
  color: #d94e6f;
  background-color: #fbedf1;
}
.og-card.og-sky {
  border-left-color: #24a4ee;
}
.og-card.og-sky .og-header {
  color: #24a4ee;
  background-color: #e9f6fd;
}
.og-card.og-tangerine {
  border-left-color: #ff9200;
}
.og-card.og-tangerine .og-header {
  color: #ff9200;
  background-color: #fff4e6;
}
.og-card.og-wisteria {
  border-left-color: #6a4ce0;
}
.og-card.og-wisteria .og-header {
  color: #6a4ce0;
  background-color: #f0edfc;
}

.og-circle-container {
  --rel: 1.25;
  /* how much extra space we want between images, 1 = one image size */
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan));
  /* circle radius */
  --s: calc(2*var(--r) + var(--d));
  /* container size */
  position: relative;
  width: var(--s);
  height: var(--s);
}

.og-circle-container .og-circle-item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-0.5 * var(--d));
  width: var(--d);
  height: var(--d);
  --az: calc(var(--i)*1turn/var(--m));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1 * var(--az)));
}

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.subtle-label-icon {
  color: #5f7c8a;
  font-size: 0.75rem;
}

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.og-loading-subtle {
  animation-name: full-spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.og-loading-default {
  animation-name: full-spin;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.og-page-loading-container {
  position: relative;
  /* Position within parent. */
  top: 0;
  left: 0;
  height: 100%;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 2rem;
}

.og-page-loading-container.full-page {
  position: absolute;
}

.og-pre-render-loading-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.og-pre-render-loading-header {
  color: var(--og-background-theme-mode);
}

@keyframes full-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.og-photo-inline {
  display: inline-flex;
  flex-direction: row;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.og-photo-inline:not(.compact) .img-fluid {
  width: 3.5rem;
}
.og-photo-inline img {
  border-radius: 50%;
}

.og-photo-medium {
  max-width: 8rem;
}

.og-badge-title-container {
  display: inline-flex;
  align-items: center;
}

.og-badge-title-container-large {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.og-badge-subtle {
  border-radius: 50%;
  display: inline-flex;
  height: 2.5rem;
  width: 2.5rem;
  vertical-align: middle;
  align-items: center;
  user-select: none;
}
.og-badge-subtle.profile-image {
  height: 34px;
  width: 34px;
}
.og-badge-subtle.large {
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  transition: transform 0.25s linear;
}
.og-badge-subtle.large:hover {
  transform: rotate(15deg);
}
.og-badge-subtle span {
  margin: auto;
}

.og-photo-badge {
  display: flex;
  position: relative;
  bottom: 15%;
  right: 0;
  align-items: center;
  justify-content: flex-end;
}

.og-card-title {
  margin-left: 0.5rem;
  vertical-align: middle;
  display: inline-flex;
}

.person-list-row {
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
  max-height: 4rem;
}
.person-list-row .person-list-avatar {
  flex: 0.25 0 15%;
  padding-left: 0.25rem;
}
.person-list-row .person-list-avatar img {
  border-radius: 50%;
  max-height: 100%;
  max-width: 2.8rem;
  /* Having trouble with the image getting wider */
}
.person-list-row .person-list-details {
  flex: 1 0 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.person-list-row .person-list-details .person-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.recordList {
  border-collapse: separate;
  /* Don't collapse */
  border-spacing: 0;
}
.recordList th {
  position: sticky;
  background: var(--og-theme-content-color);
  top: 0;
}
.recordList tr .recordActions {
  display: flex;
  justify-content: flex-end;
}
.recordList tr .recordActions a {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.recordList tr:not(:hover) .recordActions {
  visibility: hidden;
}

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.og-search {
  display: flex;
  border: 1px solid var(--og-accent-border);
  background-color: var(--og-background-theme-mode);
  border-radius: 1.25rem;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  background-color: var(--og-background-theme-mode);
  align-items: center;
  margin: 0.5rem 0;
}
.og-search:hover {
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28);
}
.og-search input {
  outline: none;
  border: none;
  flex-grow: 1;
}
.og-search i {
  color: rgba(32, 33, 36, 0.28);
  padding-right: 0.25rem;
}
.og-search .og-clear-seach {
  border: none;
  background: none;
  /* TODO: Add text-dark scss variable color on hover.*/
}

.og-no-results {
  font-style: italic;
}

.tabstrip {
  display: flex;
}

.tabstrip .tab:not(:hover) {
  background: none !important;
  border-color: transparent !important;
}
.tabstrip .tab.active {
  font-weight: 600;
  color: var(--og-theme-color) !important;
}

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.tagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tagList .og-tag {
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  margin: 0.15rem;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
.tagList .og-tag.og-republican {
  background-color: rgba(228, 27, 34, 0.05);
  border-color: rgba(228, 27, 34, 0.25);
}
.tagList .og-tag.og-republican:hover {
  background-color: #E41B22;
}
.tagList .og-tag.og-democratic {
  background-color: rgba(47, 171, 225, 0.05);
  border-color: rgba(47, 171, 225, 0.25);
}
.tagList .og-tag.og-democratic:hover {
  background-color: #2FABE1;
}
.tagList .og-tag.og-liberterian {
  background-color: rgba(249, 211, 52, 0.05);
  border-color: rgba(249, 211, 52, 0.25);
}
.tagList .og-tag.og-liberterian:hover {
  background-color: #f9d334;
}
.tagList .og-tag.og-independent {
  background-color: rgba(105, 195, 0, 0.05);
  border-color: rgba(105, 195, 0, 0.25);
}
.tagList .og-tag.og-independent:hover {
  background-color: #69c300;
}
.tagList .og-tag .og-cancel {
  margin-left: 0.4rem;
  margin-right: -0.4rem;
  position: relative;
}

@keyframes animate-middle {
  animation-name: example;
  animation-duration: 4s;
}
.og-zero-state {
  background-image: url("../../images/foreground-images/space-cosmos.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
}
