@typeparam TItem
@* See the following for details on this implementation:
	https://codepen.io/thebabydino/pen/zdhmt
	https://stackoverflow.com/questions/12813573/position-icons-into-circle
*@
<div class="og-circle-container" style="--m: @count; --d:@ItemSize; --tan: @tan">
	@for (int i = 0; i < Items.Count; i++)
	{
		TItem item = Items[i];
		<div class="og-circle-item" style="--i: @i">
			@RowTemplate(item)
		</div>
	}
	<!-- the rest of those placed on the circle -->
</div>

@code {
	[Parameter]
	public IReadOnlyList<TItem> Items { get; set; }

	[Parameter]
	public RenderFragment<TItem> RowTemplate { get; set; }

	/// <summary>
	/// The Css/Html compliant format for the item size
	/// </summary>
	[Parameter]
	public string ItemSize { get; set; }

	private int count;
	private double tan;

	protected override void OnParametersSet()
	{
		count = Items.Count;
		tan = Math.Tan(Math.PI / count);
	}
}
