<nav aria-label="Page navigation example">
	<ul class="pagination">
		@{
			string previousClasses = "page-item";
			if (Value == 0)
				previousClasses += " disabled";
				
			string nextClasses = "page-item";
			if (Value == _pageCount-1)
				nextClasses += " disabled";
		}

		<li class="@previousClasses">
			<button class="page-link" @onclick="OnPreviousClick">Previous</button>
		</li>

		@for (int i = Math.Min(Math.Max(0,Value-5),Math.Max(0,Math.Min(Value-5,_pageCount-10))); i < Math.Min(Math.Max(Value+5,10), _pageCount); i++)
		{

			string classes = "page-item";
			int buttonIndex = i;
			if(Value == i)
			{
				classes += " active";
			}

			<li class="@classes">
				<button class="page-link justify-content-center d-flex" style="width:2.5rem;" @onclick="()=> OnPageNumberClick(buttonIndex)">@(i+1)</button>
			</li>
		}

		<li class="@nextClasses">
			<button class="page-link" @onclick="OnNextClick">Next</button>
		</li>
	</ul>
</nav>