@using System.Reflection
@inject HttpClient Http
@inject IToastService ToastService

@if (list != null && list.Count > 0)
{
	<table class="table table-hover">
		<thead>
			<tr>
				@foreach (PropertyInfo property in _properties)
				{
					<th>@property.Name</th>
				}
				<th></th>
			</tr>
			@if (ShowAdminLinks)
			{
				<tr>
					<th></th>
				</tr>
			}
		</thead>
		<tbody>
			@foreach (IRecord listObject in list)
			{
				<tr>
					@foreach (PropertyInfo property in _properties)
					{
						<td>@property.GetValue(listObject)?.ToString()</td>
					}
					@if (ShowAdminLinks)
					{
						<td>
							<RecordAction record="@listObject" route="@recordActionRouteString" OnDeleteClick="DeleteRecord" />
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
}