@typeparam TItem
<div style=@RootDivStyles>
	@if (!FormatAsList)
	{
		<table class="table table-hover table-responsive-lg recordList" @attributes="AdditionalAttributes">
			@ColGroup
			<thead>
				@HeadRow
			</thead>
			<tbody>
				<Virtualize Context="item" Items="Items" TItem="TItem">
					@RowTemplate(item)
				</Virtualize>
				<tr>
				</tr>
			</tbody>
			@if (LoadMoreCallback.HasDelegate)
			{
				<caption style="caption-side: bottom; padding-top: 10px;">
					<button class="btn btn-primary d-flex" style="margin:auto;" @onclick="OnLoadMoreClicked" disabled="@awaitingLoadMoreResponse">
						@if (awaitingLoadMoreResponse)
						{
							<Icon I="s.IconType.Loading" style="color:white!important;"></Icon>
						} Load More
					</button>
				</caption>
			}
		</table>
	}
	else
	{
		@HeadRow
		<ul style="list-style-type:none; padding-left:0;" @attributes="AdditionalAttributes">
			<Virtualize Context="item" Items="Items" TItem="TItem">
				@RowTemplate(item)
			</Virtualize>

			@if (LoadMoreCallback.HasDelegate)
			{
				<li class="d-flex align-items-center justify-content-center" style="width:100%;">
					<button class="btn btn-primary d-flex align-items-center" @onclick="OnLoadMoreClicked" disabled="@awaitingLoadMoreResponse">
						@if (awaitingLoadMoreResponse)
						{
							<Icon I="s.IconType.Loading" AdditionalClasses="mr-2" style="color:white!important;"></Icon>
						} Load More
					</button>
				</li>
			}
		</ul>
	}
</div>
