@using BlazingApple.Components.Services

<div class="ba-search">
	<button @onclick="InternalOnSearchChange" type="button" title="Search!" >
		<Icon I="BlazingAppleServices.IconType.Search" AdditionalClasses="subtle-icon" />
	</button>

	<input placeholder="@TitleText" @bind="@BoundValue" type="input" />
	<button class="@_clearButtonClasses" @onclick="OnClearClick" type="button" title="Remove your search term!">
		<Icon I="BlazingAppleServices.IconType.Cancel" />
	</button>
</div>
