svg.branded path {
	fill: inherit; /* This is in order to style parts of the SVG since it is in the shadow DOM. See https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/ */
}

.og-logo {
	transition: transform .25s linear;
	border-radius: 50%;

	&:hover {
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		transform: rotate(15deg);
	}
}