/*Plugin Overrides */
.ba-post {
  margin-bottom: 3rem;
  border-bottom: gray solid 1px; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
/*#region Blazored Modal */
.og-modal-popover {
  background-color: var(--og-background-theme-mode) !important;
  border: none !important; }

.blazored-modal-close {
  line-height: 1; }

/* #endregion */
/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.typeahead-menu {
  z-index: 2;
  /* Render above an active radio button */ }

.typeahead-menu-list {
  max-height: 10rem !important; }

/* All */
.e-control, .e-css, .e-tooltip-wrap .e-tip-content {
  font-size: inherit !important;
  font-family: inherit !important; }

.e-splitter.e-splitter-horizontal, .e-splitter.e-splitter-vertical {
  background-color: inherit !important; }

/* Splitter */
.e-split-bar-horizontal {
  padding-left: .5rem;
  padding-right: .5rem;
  background: none !important;
  transition: background-color .25s ease-in-out;
  border-radius: 1rem; }
  .e-split-bar-horizontal:hover {
    background-color: var(--og-bg-color) !important; }
    .e-split-bar-horizontal:hover .e-resize-handler.e-icons {
      color: var(--og-theme-color) !important; }
  .e-split-bar-horizontal:active {
    background-color: var(--og-theme-color) !important; }
    .e-split-bar-horizontal:active .e-resize-handler.e-icons {
      color: white !important; }

.e-resize-handler.e-icons {
  background: none !important;
  transition: color .25s ease-in-out; }

.e-control, .e-css, .e-splitter.e-splitter-horizontal .e-pane, .e-splitter.e-splitter-vertical .e-pane {
  font-family: inherit !important; }

/* ListView */
.e-list-item {
  cursor: pointer;
  /* Make it appear as a selection option */ }

.e-list-item-header {
  font-weight: 500; }

.e-listview.e-list-template .e-list-item.e-active .e-list-content {
  color: rgba(255, 255, 255, 0.75) !important; }

.e-list-item.e-level-1.e-active i {
  color: white !important;
  /* Override the style of the icon if the row is selected, it should contrast with the selected color. */ }

/* Tooltip */
.e-tooltip-wrap.e-popup {
  background: var(--og-background-theme-mode) !important;
  border: none !important;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important; }

.e-tip-content {
  min-width: 20rem;
  padding: 1rem !important; }

.e-tooltip-wrap .e-tip-content {
  color: black !important;
  font-family: inherit !important; }

.e-tooltip-wrap .e-arrow-tip-outer.e-tip-right {
  border-left: 8px solid var(--og-background-theme-mode) !important;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important; }

.e-tooltip-wrap .e-arrow-tip-outer.e-tip-left {
  border-right: 8px solid var(--og-background-theme-mode) !important;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important; }

.e-tooltip-wrap .e-arrow-tip-outer.e-tip-top {
  border-bottom: 8px solid var(--og-background-theme-mode) !important;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important; }

.e-tooltip-wrap .e-arrow-tip-outer.e-tip-bottom {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid var(--og-background-theme-mode) !important;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28) !important; }

.e-tooltip-wrap .e-arrow-tip-inner.e-tip-right, .e-tooltip-wrap .e-arrow-tip-inner.e-tip-left, .e-tooltip-wrap .e-arrow-tip-inner.e-tip-bottom, .e-tooltip-wrap .e-arrow-tip-inner.e-tip-top {
  color: var(--og-background-theme-mode) !important;
  box-shadow: 8px 11px 5px 4px rgba(32, 33, 36, 0.28) !important; }

input {
  color: inherit;
  font-size: inherit; }

.ui-listbox {
  width: 100%; }

.ui-state-highlight {
  background-color: var(--og-theme-color) !important; }

.ui-multiselect-item.ui-corner-all.ui-state-highlight .e-list-content {
  color: rgba(255, 255, 255, 0.75) !important; }

.ui-multiselect-item.ui-corner-all.ui-state-highlight i {
  color: white !important;
  /* Override the style of the icon if the row is selected, it should contrast with the selected color. */ }

.ui-dropdown-item:hover:not(.ui-state-highlight), .ui-dropdown-items li:hover:not(.ui-state-highlight), .ui-multiselect-items li:hover:not(.ui-state-highlight), .ui-autocomplete-items li:hover:not(.ui-state-highlight), .ui-multiselect-item:hover:not(.ui-state-highlight), .ui-autocomplete-list-item:hover:not(.ui-state-highlight), .ui-menuitem:hover:not(.ui-state-highlight) {
  background-color: var(--og-bg-color) !important;
  color: black !important; }

::-webkit-scrollbar-thumb {
  background-color: var(--og-bg-theme-color) !important;
  transition: background-color 0.5s ease-in-out; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--og-theme-color) !important; }
  ::-webkit-scrollbar-thumb:active {
    background-color: var(--og-theme-color) !important; }

/* Owned Components */
.og-404 {
  width: 20rem;
  height: auto;
  animation-name: spin;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: rotate(-20deg); }

@keyframes spin {
  from {
    transform: rotate(-20deg); }
  to {
    transform: rotate(20deg); } }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
.card {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2); }

.og-card {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  display: flex;
  flex-direction: column;
  border-left: 5px solid;
  padding-left: .5px;
  /* Doing this because there is an odd overlap with the header and the border. */
  margin-bottom: .5rem; }
  .og-card .og-header {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    flex-direction: row;
    flex-wrap: nowrap;
    display: inline-flex;
    align-items: center;
    padding: .1rem 1rem .1rem .5rem;
    flex: 1 1 .33%;
    /* Grow width after 33% of card, otherwise, stay 33% */ }
    .og-card .og-header h1, .og-card .og-header h2, .og-card .og-header h3, .og-card .og-header h4, .og-card .og-header h5 {
      margin-bottom: 0;
      margin-left: .5rem; }
  .og-card .card-content {
    padding: .75rem; }
  .og-card.og-altitude {
    border-left-color: #0091ea; }
    .og-card.og-altitude .og-header {
      color: #0091ea;
      background-color: #eef7ff; }
  .og-card.og-blush {
    border-left-color: #FF6665; }
    .og-card.og-blush .og-header {
      color: #FF6665;
      background-color: #fff0f0; }
  .og-card.og-caribbean {
    border-left-color: #00bfd4; }
    .og-card.og-caribbean .og-header {
      color: #00bfd4;
      background-color: #e6f9fb; }
  .og-card.og-dahlia {
    border-left-color: #b429cc; }
    .og-card.og-dahlia .og-header {
      color: #b429cc;
      background-color: #f8eafa; }
  .og-card.og-fuchsia {
    border-left-color: #dd299d; }
    .og-card.og-fuchsia .og-header {
      color: #dd299d;
      background-color: #fceaf5; }
  .og-card.og-golden {
    border-left-color: #f4c100; }
    .og-card.og-golden .og-header {
      color: #f4c100;
      background-color: #fef9e6; }
  .og-card.og-lime {
    border-left-color: #69c300; }
    .og-card.og-lime .og-header {
      color: #69c300;
      background-color: #f0f9e6; }
  .og-card.og-mediterranean {
    border-left-color: #19c295; }
    .og-card.og-mediterranean .og-header {
      color: #19c295;
      background-color: #e8f9f4; }
  .og-card.og-rose {
    border-left-color: #d94e6f; }
    .og-card.og-rose .og-header {
      color: #d94e6f;
      background-color: #fbedf1; }
  .og-card.og-sky {
    border-left-color: #24a4ee; }
    .og-card.og-sky .og-header {
      color: #24a4ee;
      background-color: #e9f6fd; }
  .og-card.og-tangerine {
    border-left-color: #ff9200; }
    .og-card.og-tangerine .og-header {
      color: #ff9200;
      background-color: #fff4e6; }
  .og-card.og-wisteria {
    border-left-color: #6a4ce0; }
    .og-card.og-wisteria .og-header {
      color: #6a4ce0;
      background-color: #f0edfc; }

svg.branded path {
  fill: inherit;
  /* This is in order to style parts of the SVG since it is in the shadow DOM. See https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/ */ }

.og-logo {
  transition: transform .25s linear;
  border-radius: 50%; }
  .og-logo:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transform: rotate(15deg); }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.career {
  display: flex;
  flex-direction: row; }
  .career .timelineContainer {
    display: flex;
    flex-direction: column; }
    .career .timelineContainer .timelineSeperator {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      background-color: var(--og-background-theme-mode);
      width: 0.4rem;
      height: 1rem;
      flex: 1 0; }
  .career .job-cell {
    display: flex;
    flex-direction: column;
    align-items: center; }

.og-badge {
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  vertical-align: middle;
  align-items: center;
  font-size: 75%;
  width: 2rem;
  height: 2rem;
  z-index: 1; }
  .og-badge:not(.noBorder) {
    border: 3px solid var(--og-background-theme-mode); }
  .og-badge.og-commercial {
    background-color: #69c300; }
  .og-badge.og-end {
    background-color: #FF6665; }
  .og-badge.og-government {
    background-color: #24a4ee; }
  .og-badge.og-nonprofit {
    background-color: #dd299d; }
  .og-badge.og-start {
    background-color: #69c300; }
  .og-badge i {
    margin: auto; }

.og-circle-container {
  --rel: 1.25;
  /* how much extra space we want between images, 1 = one image size */
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan));
  /* circle radius */
  --s: calc(2*var(--r) + var(--d));
  /* container size */
  position: relative;
  width: var(--s);
  height: var(--s); }

.og-circle-container .og-circle-item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-.5*var(--d));
  width: var(--d);
  height: var(--d);
  --az: calc(var(--i)*1turn/var(--m));
  transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az))); }

.btn.btn-link {
  vertical-align: baseline; }

.og-subscribe-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.nav-profile-photo.comment-image {
  border: none;
  width: 3.25rem;
  height: 3.25rem; }
  .nav-profile-photo.comment-image:hover {
    box-shadow: none; }

.og-speech-bubble, .og-glossary-entry {
  border-radius: 15px;
  padding: .5rem 1rem;
  overflow-wrap: break-word; }
  .og-speech-bubble:not(:hover) .og-date-on-hover, .og-speech-bubble:not(:hover) .og-edit-button, .og-glossary-entry:not(:hover) .og-date-on-hover, .og-glossary-entry:not(:hover) .og-edit-button {
    display: none;
    opacity: 0; }

.og-glossary-entry:not(:hover) .og-date-on-hover {
  display: inherit !important;
  /* Override what's above. */
  visibility: hidden;
  opacity: 0; }

.og-date-on-hover, .og-edit-button {
  margin-left: .25rem;
  opacity: 1;
  transition: opacity 0.25s ease-in-out; }

.og-edit-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 0; }

.og-comment-text {
  width: 100%;
  resize: vertical;
  min-height: 4rem; }

/*#region Post Its*/
.og-post-it {
  height: 1rem;
  width: 1rem;
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* W3C */
  /*background-color: #FEF6A5;*/
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.4);
  transform: rotate(-12deg);
  font-size: 2px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: .1rem;
  padding-top: .2rem; }
  .og-post-it .og-post-it-contents {
    text-overflow: ellipsis;
    user-select: none;
    height: 100%;
    overflow: hidden; }

.og-post-it::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: .75px;
  bottom: 0rem;
  width: .5rem;
  height: 9px;
  background: none;
  box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.4);
  transform: rotate(-91deg); }

/*#endregion*/
/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.communicationEventImageColumn {
  max-width: 4rem; }

.communicationEventImage {
  display: flex;
  flex-direction: column; }

.og-badge-with-border {
  border-radius: 50%;
  border: 3px solid var(--og-background-theme-mode);
  color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  font-size: 75%; }

.og-badge-with-border-all-sizes {
  /* Fit any content, used for page loading */
  border-radius: 50%;
  border: 3px solid var(--og-background-theme-mode);
  color: white;
  background: var(--og-background-theme-mode);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  margin: .25rem;
  /* If at edge of parent element, don't have box-shadow cut off. */ }

.og-badge-container {
  display: flex;
  align-self: flex-end;
  /* Align right */
  margin-top: -.75rem;
  /* Sit atop the image slightly */
  flex-direction: column; }

.og-badge-container .direction {
  display: flex;
  position: relative;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
  .og-badge-container .direction.incoming {
    color: #d94e6f; }
  .og-badge-container .direction.outgoing {
    color: #69c300; }

.communicationHistoryPanel {
  padding-left: 2.5rem;
  /* Suppress that scrollbar from the communication history component */
  padding-right: 2.5rem; }

.og-cust-img-inline {
  display: inline-block;
  width: 3.5rem;
  margin-right: .5rem; }
  .og-cust-img-inline img {
    border-radius: 50%; }

/* Customize website's scrollbar like Mac OS
Not supported in Firefox and IE */
/* Credit: https://gist.github.com/spemer/a0e218bbb45433bd611e68446523a00b */
/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
/* total width */
.scrollbar::-webkit-scrollbar {
  background-color: var(--og-background-theme-mode);
  width: 16px; }

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: var(--og-background-theme-mode); }

.scrollbar::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4; }

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff; }

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4; }

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display: none; }

/* div box */
/*body {
	background-color: #babac0
}*/
.scrollbar {
  height: 75vh;
  width: 25vw;
  min-width: 150px;
  background: #fff;
  overflow-y: scroll; }

.overflow {
  min-height: 100vh; }

.data-model-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.data-model-card-row > div {
  display: flex; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.og-event {
  margin: .5rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  padding: .5rem;
  border-radius: .25rem;
  background-color: var(--og-background-theme-mode); }
  .og-event .og-badge, .og-event .og-badge-with-border {
    box-shadow: none !important; }

.og-event-date-header {
  /**/
  position: sticky;
  top: 0;
  z-index: 2;
  /* Fall above the badge which has a z-index of 1 (for some reason?) */
  background-color: var(--og-theme-content-color);
  padding-bottom: .25rem; }

.og-event-header {
  display: flex;
  align-items: center; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.og-glossary-entry {
  overflow-wrap: break-word; }
  .og-glossary-entry:not(:hover) .og-date-on-hover, .og-glossary-entry:not(:hover) .og-edit-button {
    display: inherit !important;
    /* Override what's above. */
    visibility: hidden;
    opacity: 0; }

.og-date-on-hover {
  margin-left: 0 !important;
  /*  Override what is in _comments.scss */ }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.subtle-label-icon {
  color: #5f7c8a;
  font-size: .75rem; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.og-loading-subtle {
  animation-name: full-spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.og-loading-default {
  animation-name: full-spin;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

.og-page-loading-container {
  position: relative;
  /* Position within parent. */
  top: 0;
  left: 0;
  height: 100%;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 2rem; }

.og-page-loading-container.full-page {
  position: absolute; }

.og-pre-render-loading-container {
  display: flex;
  flex-direction: row;
  height: 100%; }

.og-pre-render-loading-header {
  color: var(--og-background-theme-mode); }

@keyframes full-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.og-modal-popover {
  border: 1px solid #dfe1e5;
  border-radius: 1.25rem;
  align-items: center;
  max-height: 95%; }

/*#region Blazored.Modal overrides */
.blazored-modal-container {
  z-index: 1031; }

.blazored-modal-overlay {
  background: none; }

.blazored-modal-header {
  padding-bottom: 1rem;
  width: 100%; }

.blazored-modal-content {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

/* #endregion */
.modal-form {
  display: contents; }

.form-body {
  overflow-x: hidden;
  padding: .25rem; }

.form-footer {
  flex-shrink: 0;
  position: sticky;
  padding-left: .25rem;
  padding-top: .5rem;
  bottom: 0; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.og-photo-inline {
  display: inline-flex;
  flex-direction: row;
  margin-right: .5rem;
  vertical-align: middle; }
  .og-photo-inline:not(.compact) .img-fluid {
    width: 3.5rem; }
  .og-photo-inline img {
    border-radius: 50%; }

.og-photo-medium {
  max-width: 8rem; }

.og-badge-title-container {
  display: inline-flex;
  align-items: center; }

.og-badge-title-container-large {
  display: flex;
  flex-direction: column;
  align-items: center; }

.og-badge-subtle {
  border-radius: 50%;
  display: inline-flex;
  height: 2.5rem;
  width: 2.5rem;
  vertical-align: middle;
  align-items: center;
  user-select: none; }
  .og-badge-subtle.profile-image {
    height: 34px;
    width: 34px; }
  .og-badge-subtle.large {
    font-size: 3rem;
    height: 5rem;
    width: 5rem;
    transition: transform .25s linear; }
    .og-badge-subtle.large:hover {
      transform: rotate(15deg); }
  .og-badge-subtle span {
    margin: auto; }

.og-photo-badge {
  display: flex;
  position: relative;
  bottom: 15%;
  right: 0;
  align-items: center;
  justify-content: flex-end; }

.og-card-title {
  margin-left: .5rem;
  vertical-align: middle;
  display: inline-flex; }

.person-list-row {
  display: flex;
  flex-direction: row;
  padding: .3rem;
  max-height: 4rem; }
  .person-list-row .person-list-avatar {
    flex: .25 0 15%;
    padding-left: .25rem; }
    .person-list-row .person-list-avatar img {
      border-radius: 50%;
      max-height: 100%;
      max-width: 2.8rem;
      /* Having trouble with the image getting wider */ }
  .person-list-row .person-list-details {
    flex: 1 0 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem; }
    .person-list-row .person-list-details .person-list-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.party.og-badge {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  vertical-align: middle; }
  .party.og-badge i {
    margin: auto; }
  .party.og-badge.independent {
    background-color: #69c300;
    color: white; }
  .party.og-badge.republican {
    background-color: #E41B22;
    color: white; }
  .party.og-badge.democratic {
    background-color: #2FABE1;
    color: white; }
  .party.og-badge.libertarian {
    background-color: #f9d334;
    color: black; }
  .party.og-badge.unknown {
    background-color: lightgray;
    color: var(--og-background-theme-mode); }

.party.icon.republican {
  color: #E41B22; }

.party.icon.democratic {
  color: #2FABE1; }

.party.icon.libertarian {
  color: #f9d334; }

.og-progress-container {
  display: flex;
  flex-direction: row; }

.og-progress-bar {
  flex: 1 0 70%; }

.og-progress-text {
  flex: 0 1 30%; }

progress[value]::after {
  content: calc(attr(value) / attr(max));
  top: -125%; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.recordList {
  border-collapse: separate;
  /* Don't collapse */
  border-spacing: 0; }
  .recordList th {
    position: sticky;
    background: var(--og-theme-content-color);
    top: 0; }
  .recordList tr .recordActions {
    display: flex;
    justify-content: flex-end; }
    .recordList tr .recordActions a {
      margin-left: .3rem;
      margin-right: .3rem; }
  .recordList tr:not(:hover) .recordActions {
    visibility: hidden; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
a.og-search-result {
  padding: 1rem;
  display: flex;
  flex-direction: row; }
  a.og-search-result:hover {
    background-color: rgba(128, 128, 128, 0.1);
    text-decoration: none; }
    a.og-search-result:hover .og-result-header {
      text-decoration: underline; }
    a.og-search-result:hover .og-search-result-content .og-result-body, a.og-search-result:hover .og-search-result-content .og-result-link {
      text-decoration: none;
      /* Don't show the link underline on hover, we'll just show it on the top header. */ }

.og-search-result-image-container .og-search-result-image {
  border-radius: 50%;
  max-height: 4rem;
  max-width: 4rem;
  margin: auto auto;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2); }

.og-search-result-content {
  margin-left: 1rem;
  display: flex;
  flex-direction: column; }

.og-result-link {
  font-style: italic;
  color: #999999;
  text-decoration: none !important;
  /* Don't show the link underline on hover, we'll just show it on the top header. */ }

.og-result-body {
  color: var(--og-background-theme-mode-inverse);
  /* text for background mode */
  text-decoration: none !important;
  /* Don't show the link underline on hover, we'll just show it on the top header. */ }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.og-search {
  display: flex;
  border: 1px solid var(--og-accent-border);
  background-color: var(--og-background-theme-mode);
  border-radius: 1.25rem;
  padding: .25rem 1rem .25rem 0.5rem;
  background-color: var(--og-background-theme-mode);
  align-items: center;
  margin: .5rem 0; }
  .og-search:hover {
    box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.28); }
  .og-search input {
    outline: none;
    border: none;
    flex-grow: 1; }
  .og-search i {
    color: rgba(32, 33, 36, 0.28);
    padding-right: .25rem; }
  .og-search .og-clear-seach {
    border: none;
    background: none;
    /* TODO: Add text-dark scss variable color on hover.*/ }

.og-no-results {
  font-style: italic; }

.og-staff-list .og-cust-img-inline {
  width: 2.5rem; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
/* #region Color Chooser */
.dot-sm {
  width: .5rem;
  height: .5rem;
  margin-right: .5rem; }

.dot-md {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem; }

.dot-lg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem; }

.og-background-mode-light-bg.rounded-circle {
  border: 1px solid #596C76; }

.og-theme-btn {
  display: flex;
  align-items: center;
  margin: .15rem; }

/* #endregion */
/* #region Background Image Chooser */
.og-background-image-btn .og-media-icon {
  font-size: 1.25rem;
  margin-right: .5rem; }

#og-bg-image-container {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat fixed bottom center/cover;
  background-image: url("/images/background-images/stars-chalk.svg");
  will-change: scroll-position;
  z-index: -1; }

/* #endregion */
.tabstrip {
  display: flex; }

.tabstrip .tab:not(:hover) {
  background: none !important;
  border-color: transparent !important; }

.tabstrip .tab.active {
  font-weight: 600;
  color: var(--og-theme-color) !important; }

/*#region graph colors*/
/*
	Html Elements
*/
/* #region Background Color Mode */
/* #endregion */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* Will be overwritten by theme sheet. */
/* rgba(128, 194, 249) */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*$og-azure-bg-theme: #d0e8fd;*/
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region themes */
/* This is the bg-theme transposed at 10% opacity */
/* This is the bg-theme transposed at 10% opacity */
/*#endregion*/
/* #region events */
/* #endregion */
/* #region political categories */
/*#endregion*/
/* #region */
/* #endregion*/
.tagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .tagList .og-tag {
    border-radius: 1rem;
    padding: .1rem 1rem;
    margin: .15rem;
    display: inline-flex;
    vertical-align: middle;
    align-items: center; }
    .tagList .og-tag.og-republican {
      background-color: rgba(228, 27, 34, 0.05);
      border-color: rgba(228, 27, 34, 0.25); }
      .tagList .og-tag.og-republican:hover {
        background-color: #E41B22; }
    .tagList .og-tag.og-democratic {
      background-color: rgba(47, 171, 225, 0.05);
      border-color: rgba(47, 171, 225, 0.25); }
      .tagList .og-tag.og-democratic:hover {
        background-color: #2FABE1; }
    .tagList .og-tag.og-liberterian {
      background-color: rgba(249, 211, 52, 0.05);
      border-color: rgba(249, 211, 52, 0.25); }
      .tagList .og-tag.og-liberterian:hover {
        background-color: #f9d334; }
    .tagList .og-tag.og-independent {
      background-color: rgba(105, 195, 0, 0.05);
      border-color: rgba(105, 195, 0, 0.25); }
      .tagList .og-tag.og-independent:hover {
        background-color: #69c300; }
    .tagList .og-tag .og-cancel {
      margin-left: .4rem;
      margin-right: -.4rem;
      position: relative; }

.og-quote {
  display: block; }
  .og-quote .og-block-quote, .og-quote .og-quote-author {
    margin: auto auto;
    text-align: center;
    font-style: italic; }

@keyframes animate-middle {
  animation-name: example;
  animation-duration: 4s; }

.og-zero-state {
  background-image: url("../../images/foreground-images/space-cosmos.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20rem; }
