<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="d-flex nav align-items-center justify-content-center">
            <img style="max-width: 2rem;" src="_content/BlazingApple.Components/BlazingAppleApple.png" class="img-fluid mr-1" /> <h3 style="color: white;">Components</h3>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-components">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Form Components
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lists">
                <span class="oi oi-list" aria-hidden="true"></span> Lists
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
