.ba-reaction-options-container {
  display: flex;
  align-items: center;
}
.ba-reaction-options-container :not(:first-child) {
  margin-left: -0.3rem;
}

.ba-reaction-icon {
  font-size: 0.75rem;
  border-radius: 50%;
  padding: 0.01rem;
  border: 1px solid white;
  transition: margin-top ease-in-out 0.25s;
  background-color: white;
}
.ba-reaction-icon:hover {
  margin-top: -0.25rem;
}
