.ba-reaction-options-container
{
	display: inline-flex;
	box-shadow: 0 1px 3px 0 rgba(32,33,36,0.28) !important;
	border-radius: 9999px;
	background-color: white;
	padding: .25rem;
	border: 1px solid lightgray;
}

.ba-reaction-option-button {
	height: 1.75rem;
	width: 1.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: margin ease-in-out .25s .05s;

	&:hover {
		margin-top: -.15rem;
	}
}