@if (Stops is not null)
{
    @if (Stops.Count > 0)
    {
        <div class="timelineContainer horizontal" @attributes="AdditionalAttributes">
            <div class="timeline container pr-1">
                @for (int i = 0; i < Stops.Count; i++)
                {
                    <SubwayProgressBarStop
                        IsFirst="i==0"
                        Description="@Stops[i].Description"
                        Title="@Stops[i].ShortTitle"
                        IsLast="i==(Stops.Count-1)"
                        IsComplete="@(LastCompletedStopIndex>=i)"
                        IsCurrentStop="@(LastCompletedStopIndex+1==i)"/>
                }
            </div>
        </div>
    }
}
