@if(Workflow is not null) {
    <div class="mb-4">
        <SubwayProgressBar Stops="@(Workflow.Steps.Cast<ISubwayStop>().ToList())" LastCompletedStopIndex="@(Workflow.CurrentStepIndex.HasValue ? Workflow.CurrentStepIndex.Value-1 : -1)"></SubwayProgressBar>
    </div>
    <CascadingValue Value="this">
        @foreach (WorkflowStep step in Workflow.Steps) {
            <WorkflowStepContainer Step="@step"/>
        }
    </CascadingValue>
}